.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/vcs.xml

.idea/modules.xml

.idea/misc.xml

.idea/gradle.xml

app/app.iml
